/* Allgemeine Stile */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('Bilder/Motorrad.jpg'); /* Pfad zum Hintergrundbild */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

/* Hero-Header */
.hero {
    text-align: center;
    padding: 4rem 1rem;
    background: rgba(255, 255, 255, 0.8); /* Leicht transparentes Weiß */
    border-bottom: 2px solid #ccc;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #2c3e50;
}

.hero p {
    font-size: 1.2rem;
    color: #7f8c8d;
}

/* Navigation */
.navbar {
    background-color: rgba(255, 255, 255, 0.9); /* Halbtransparentes Weiß */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #34495e;
    font-weight: bold;
}

.nav-link:hover {
    color: #1abc9c; /* Grün */
}

.navbar-brand {
    color: #2c3e50;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Sektionen */
.section {
    padding: 4rem 1rem;
}

.bg-light {
    background: rgba(255, 255, 255, 0.8); /* Leicht transparent */
    border-radius: 8px;
    box-shadow: 0 2px 8px
